In [16]:
import pyarrow.dataset as ds
# dataset = ds.dataset("../tests/data/XpSampledMeanSpectrum", format="parquet")
# dataset = ds.dataset("/home/doserbd/data/gaia/xp_sampled_mean_spectrum/parquet", format="parquet")
dataset = ds.dataset("/hits/basement/its/doserbd/data/gaia/xp_sampled_mean_spectrum/parquet", format="parquet")
dataset.count_rows()

34468373

In [15]:
scanner = dataset.scanner(filter=ds.field("source_id") == 3403822089581389184)
scanner.count_rows()

0

In [12]:
scanner.to_table().to_pandas()

Empty DataFrame
Columns: [source_id, solution_id, ra, dec, flux, flux_error]
Index: []